@import url('composants/divider.css');
@import url('composants/card.css');
@import url('composants/banner.css');
@import url('composants/container.css');
@import url('composants/button.css');
@import url('composants/avatar.css');
@import url('composants/navbar.css');
body {
	background-color: #F9F9F9;
	margin:  0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color:  #2C394B;
	margin-top: -60px;

}

h1, h2, h4 {
	font-family: 'Raleway', sans-serif;
	color: #000D65;
	text-align: center; 
}
a {
	text-decoration: none;
}
h5 {
	color: whitesmoke;
}
h3 {
	font-family: 'Inter', sans-serif;
	color: black;
}